EXPO_PUBLIC_FIREBASE_API_KEY=your-firebase-api-key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN="foodshareapp-358fc.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID="foodshareapp-358fc"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET="foodshareapp-358fc.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID='1037353114902'
EXPO_PUBLIC_FIREBASE_APP_ID='1:1037353114902:web:b71e46a4b31323ccfe8437'
